* {
	font-family: Arial;
	user-select: none;
	background-color: rgb(19, 20, 21);
	color: #ffffff;
	margin: 0;
}

::-webkit-scrollbar {
    width: 0px;
    background: none;
}

.main {
	height: 100vh;
	display: block;
	overflow-x: hidden;
	padding: 1rem 3rem 3rem;
}

.recipe {
}

.used {
}

.search {
}

.item {
	margin: 4px;
	cursor: pointer;
	padding: 8px 8px 7px;
	border-radius: 5px;
	display: inline-block;
	user-select: none;
	border: 1px solid #696969;
	text-decoration: none;
	background: #000;
	color: #ffffff;
}

.item:hover {
	background: linear-gradient(180deg, #3e7e59, #000 80%);
}

.noclick:hover {
	cursor: default;
	background: linear-gradient(180deg, #803535, #000 80%);
}

.searchbar {
    font-size: 18px;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    margin: 10px;
    text-align: center;
    background-color: #242424;
    border: none;
    color: #c6c7c7;
}
